@font-face {
    font-family: aoki;
    src: url(Fonts/Aoki/Webfonts/Aoki\ Light.woff2);

}
@font-face {
    font-family: aoki_reg;
    src: url(Fonts/Aoki/Webfonts/Aoki\ Regular.woff2);
}
@font-face {
    font-family: Centauri;
    src: url(Fonts/Sci+Fi+Bundle/Webfonts/Centauri.woff);
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');

body {
    background-color: #151515;
}
h1 {
    font-family: "aoki_reg", "exo 2";
    font-size: 50px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    font-family: "aoki", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}
h3 {
    font-family: "aoki", "exo 2";
    font-size: 40px;
    color: white;
}

h4 {
    font-family: "exo 2", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #c4c4c4;
}
h5 {
    font-family: "aoki_reg", "exo 2";
    font-size: 30px;
    color: white;
    text-decoration: underline;
}
h6 {
    font-family: "exo 2", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}
.nav {
    max-width: 100%;
    display: flex;
    background-color: #151515;
    padding: 20px;         
    justify-content: space-around;
    position: sticky;
    top: 0px;
    
}
.nav a {
    text-decoration: none;
    font-family: "aoki";
    font-weight: 100;
    font-size: 16px;
    padding: 20px;
    color: #d0d0d0;
    transition: all 0.3s ease;
}
.nav a:hover {
    color: white;
    text-shadow: 0px 0px 10px white;
  }
.logo {
    padding: 0 20px;
    width: 40px;
    height: 54px;
    transition: all 0.3s ease;
}
.title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-family: centauri;
  margin-top: 104px;
  margin-bottom: 104px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center; 
  margin-left: 160px;
  margin-right: 160px;
  
  

}
.box1, .box2, .box3 {
  
  
  border-radius: 10px;
  width: 376px;
  height: 329px;
  margin-left: -32px;
  
  
}
.box1 {
    background-image: url(Images/wannado_mockup.png);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
    margin-right: 64px;
}
.box2 {
    background-image: url(Images/swallow_mockup.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 64px;
}
.box3{
    background-image: url(Images/fcc_mockup.png);
    background-repeat: no-repeat;
    background-size: contain;
}

button {
    margin-left: 40px;
    background: none;
    padding: 10px 40px;
    font-family: "aoki_reg";
    font-size: 16px;
    border-radius: 10px;
    border-style: solid;
    border-color: #d0d0d0;
    color: #d0d0d0;
    transition: all 0.3s ease;
}
button:hover {
    box-shadow: 0px 0px 20px white;
    text-shadow: 0px 0px 20px white;
    border-color: #ffffff;
    color: #ffffff;
}
.footer {
    display: flex;
    flex-direction: column;
    background-image: url(Images/footer_cubes.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    width: 100vw;
    height: 100vh;
    margin-top: 208px;
    
}
.footer_logo {
    display: flex;
    align-self: center;
    width: 238px;
    height: 321px;
    
}
.footer_contact {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.footer_social {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.email {
    margin-top: -16px;
}
.social {
    margin-top: 8px;
}
.link, .insta {
    margin-top: -16px;
}
@media only screen and (max-width: 600px){
    .nav a {
        margin-left: -16px;
    }
    img {
       margin-left: -16px;
       
    }
    .main {
        display: flex;
        justify-content: center;
        
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        
    }
    .box1, .box2, .box3 {
        border-radius: 10px;
        width: 376px;
        height: 329px;
        justify-content: center;
        
    } 
    button {
        margin-bottom: 104px;
    }
    
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
    }
    
   

}